
.nav-1{
  display: flex;
  align-items: flex-start;              //  子元素垂直方向排版 顶部靠左对齐
  height: 300px;
  border: 2px solid blue;
  .item-1{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: yellow;
  }
  .item-2{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: red;
  }
}



.nav-2{
  display: flex;  
  align-items: flex-end;        //  子元素垂直方向排版 底部靠左对齐
  height: 300px;
  border: 2px solid blue;
  .item-1{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: yellow;
  }
  .item-2{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: red;
  }
}


.nav-3{
  display: flex;  
  align-items: center;        //  子元素垂直方向排版 居中对齐
  height: 300px;
  border: 2px solid blue;
  .item-1{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: yellow;
  }
  .item-2{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: red;
  }
}

.nav-4{
  display: flex;  
  align-items: baseline;        //  子元素垂直方向排版 位于容器的基线上
  height: 300px;
  border: 2px solid blue;
  .item-1{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: yellow;
  }
  .item-2{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: red;
  }
}

.nav-5{
  display: flex;  
  align-items: stretch;        //  子元素垂直方向排版 元素被拉伸以试用容器
  height: 300px;
  border: 2px solid blue;
  .item-1{
    width: 300px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    background-color: yellow;
  }
  .item-2{
    width: 300px;
    height: auto;
    line-height: 50px;
    text-align: center;
    background-color: red;
  }
}