<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>

    <div ng-controller="DemoCtrl">

        <ul>
            <li ng-repeat="news in newsArr | limitTo:1">
                <h3>{{news.title}}</h3>
                <span>{{news.author}}</span>
            </li>
        </ul>

        <br><br><br>

        <button ng-click="clickFun()">点击函数</button>

    </div>


</body>

	<script src="./angular-1.6.1/angular.js"></script>

    <script>

        var myApp = angular.module('app',[]);

        myApp.controller('DemoCtrl',['$scope','$http',function ($scope,$http){

            // 前后端交互
            $http({
                method:'post',
                url:'http://139.129.235.171:8088/hui/proxyMethod',
                data:JSON.stringify({
                    "serviceName":"InformationController",
                    "methodName":"getInformationBySourceByPageForUser",
                    "userId":"8a9c897d5c299c48015c299fe49d0005",
                    "source":"综合",
                    "indexPage":"1",
                    "displayRecordCount":"100"
                })
            }).then(function success(response){

                $scope.newsArr = response.data.InformationUrlGrid.rows;
                // console.log(response.data.InformationUrlGrid.rows);

            },function error(response){

            });

            // 点击函数
            $scope.clickFun = function (){
                alert('我被点击了');
            }

        }])
    </script>
</html>