.nav-left{
  height: calc(100vh);
  background-color: #001529;
}
.logo{
  height: 90px;
  line-height: 90px;
  padding-left: 30px;
  background-color: #002140;
  img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
  span{
    font-size: 18px;
    padding-left: 15px;
    vertical-align: middle;
    color: #fff;
  }
}

.menu{
  
}